OPENREC_EVENT_TABLE=openrec.event_entity
OPENREC_ITEM_TABLE=openrec.item_entity
OPENREC_USER_TABLE=openrec.user_entity
OPENREC_REDIS_HOST=redis
OPENREC_REDIS_PORT=6379
OPENREC_ES_HOST=https://elasticsearch:9200
OPENREC_ES_USER=elastic
OPENREC_ES_CA_CERTS=/usr/share/elasticsearch/config/certs/ca/ca.crt
